$contrast-colors: (
  'dark': (
    'primary': rgb(255, 255, 255),
    'secondary': rgba(255, 255, 255, .70),
    'disabled': rgba(255, 255, 255, .5),
    'hint': rgba(255, 255, 255, .12)
  ),
  'light': (
    'primary': rgba(0, 0, 0, .87),
    'secondary': rgba(0, 0, 0, .54),
    'disabled': rgba(0, 0, 0, .38),
    'hint': rgba(0, 0, 0, .12)
  ),
);

@function contrast($background: 'light', $type: 'primary') {
	$map: map-get($contrast-colors, $background);
	@return map-get($map, $type);
}

@mixin contrast($background: 'light', $type: 'primary') {
	color: contrast($background, $type)
}